.row {
  background-color: #eeeeee;
  padding: 30px;
}
.labelA {
	float: right;
	text-align: right;
	font-size: 80%;
	color: red;
	text-shadow: 2px 2px 13px #FF0000;
}
.labelB {
	float: right;
	text-align: right;
	font-size: 80%;
	color: green;
	text-shadow: 2px 2px 13px #5cb85c;
}
